.container_events{
    height: 80vh;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: center;
    div{
        img{
            max-width: 400px;
        }
    }
    .card_event{
        color: black;
        width: 80vw;
        margin-left: 10vw;
        margin-top: 5vh;
        margin-bottom: 5vh;
        height: 50vh;
        border: 2px solid black;
        border-radius: 25px;
        padding: 1vw;
        background-color: rgba(240, 180, 102, 0.698);
        box-shadow: 20px 30px 5px rgba(10, 0, 0, 0.5);
    }
}
.container_events_options{
    justify-content: center;
    height: 80vh;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: center;
    
}